<div class="bookshelf">
    <div class="row">
        <div class="col-xs-12 search-bar">
            <a class="button btn-default add-book" ng-href="#/books/upload">Загрузить книгу</a>
            <input type="text" class="form-control search" ng-model="searchKeyword" placeholder="Поиск книг...">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="user-alerter static">
                <div class="alert alert-danger" ng-if="alerter.error">
                    {{ alerter.error }}
                </div>
            </div>
            <div class="text-center" ng-if="!books.length">Нет книг для отображения</div>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 book-col"
             ng-repeat="book in books | filter: searchKeyword" ng-if="books.length">
            <div class="book-cover">
                <a href="#/books/{{ book.bookId }}">
                    <img ng-src='{{ book.cover }}'/>
                </a>
            </div>
            <div class="title">
                <a href="#/books/{{ book.bookId }}">{{ book.title }}</a>
            </div>
            <div class="author">{{ book.name }} {{ book.lastName }}</div>
        </div>
    </div>
</div>
