.css-preloader {
    position: relative;
    width: 150px;
    height: 12px;
    margin: 0 0 0 6em;
    vertical-align: middle;
    display: inline-block;
}

.css-preloader [class*="dot-preloader"] {
    position: absolute;
    top: 0;
    background-color: rgba(71, 73, 73, 0.97);
    width: 12px;
    height: 12px;
    animation-name: bounce-preloader;
    -o-animation-name: bounce-preloader;
    -ms-animation-name: bounce-preloader;
    -webkit-animation-name: bounce-preloader;
    -moz-animation-name: bounce-preloader;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

.css-preloader .dot-preloader-1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

.css-preloader .dot-preloader-2 {
    left: 19px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

.css-preloader .dot-preloader-3 {
    left: 37px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

.css-preloader .dot-preloader-4 {
    left: 56px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

.css-preloader .dot-preloader-5 {
    left: 75px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

.css-preloader .dot-preloader-6 {
    left: 94px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

.css-preloader .dot-preloader-7 {
    left: 112px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.css-preloader .dot-preloader-8 {
    left: 131px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

@keyframes bounce-preloader {
    0% {
        transform: scale(1);
        background-color: rgb(71, 73, 73);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes bounce-preloader {
    0% {
        -o-transform: scale(1);
        background-color: rgb(71, 73, 73);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce-preloader {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(71, 73, 73);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce-preloader {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(71, 73, 73);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce-preloader {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(71, 73, 73);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}